@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title</h2>

<p>Student and alumni database for MS Information Systems Program at the University of Cincinnati Lindner College of Business, Cincinnati, OH.</p>
