@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@*@ViewBag.Message*@</h3>

<address>
	@*One Microsoft Way<br />
		Redmond, WA 98052-6399<br />
		<abbr title="Phone">P:</abbr>
		425.555.0100*@

	<b>Robert Rokey</b><br />
	Assistant Professor - Educator<br/>
	MS-IS Academic Director <br/>
	Department of Operations, Business Analytics, and Information Systems<br />
	3457 Carl H. Lindner Hall<br />
	<span style='font-size:25px;'>&#9743;</span>
	513-556-7058<br />
	<strong>&#x1F4E7;</strong> <a href="mailto:robert.rokey@uc.edu">robert.rokey@uc.edu</a><br />
</address>